@import "bootstrap";

#navbar {
  background-color: #73c4a4;
}

// #title-link {
//   justify-content: center;
// }
menu ul{
  display: inline-flex;
  list-style: none;
}

img {
    image-orientation: from-image;
}
